body{
    background-color: #000000;

    .container-fluid{

        height: auto;
        margin : 0;
    }
}



/*____________________________NAVIGATION BAR ________________*/
.navigationbar{
  background-color: #00cca3;
  nav {
    width : 100%;
    margin : 0;

    ul{
        overflow : hidden;

        li{
            list-style: none;
            float: left;
        }

        li.navigation-dropdown {
            display : none;
        }
    }

    a {
        text-align: center;
        font-family: monospace;
        text-decoration: none;
        font-size: 36px;

        display:block;
        color:black;
        margin : 5px;
        padding: 5px;


    }
    a:hover {
        color:white;
        background: #006652;
        margin : 2px;

    }

}

@media screen and (max-width : 680px){
    nav ul li:not(:nth-child(1)) {
        display : none;
    }

    nav ul li.navigation-dropdown {
        display : block;
        float : right;
    }

    nav ul.navigation.responsive{
        position: relative;
    }

    nav ul.navigation.responsive li.navigation-dropdown{
        position: absolute;
        top : 0;
        right : 0;
    }

    nav ul.navigation.responsive li {
        display : inline;
        float : none;
    }

    nav ul.navigation.responsive li a {
        display : block;
        text-align : left;
        text-decoration: none;
    }

}
}
/*__________________________________________CONTENT___________________________*/

.section-1 {
    background-color : rgb(26, 26, 26);

    .jumbotron{
      margin : 20px;
      text-align: center;
    }

}


.section-offer {
    background-color : rgb(26, 26, 26);
    padding : 2rem;
    color : white;

    .section-offer-link{
        margin-top : 20px;

        button{
            background-color: red;
            color : white;
            display : block;
            margin : auto;
        }

    }



}

.section-accreg {
  background: #000000;
  padding : 2rem;
  margin : 0;
  color : white;

  .section-accreg-header{

    text-align: center;

  }

  .section-accreg-body{


    .section-accreg-form {


      margin : auto;
      color : white;
      font-family: arial;

      label{
        color : #00cca3;
        font-weight: 20px;
      }

      @each $inputType in text, email, password{
        input[type=#{$inputType}]{
          height : 50px;
          width : inherit;
          border : none;
          background: inherit;
          border-bottom : 2px solid #00cca3;
          transition: width 0.5s;
          -webkit-transition : width 0.5s;
        }
        @each $pseudoType in hover, focus {
          input[type=#{$inputType}]:#{$pseudoType}{
            height : 50px;
            width : 100%;
            border : none;
            background: inherit;
            border-bottom : 2px solid #00cca3;
          }
        }

        input[type=#{$inputType}]:invalid{
          border-bottom : 5px solid red;
        }
      }

      .section-accreg-submit {
        color : white;
        background : #00cca3;
        margin : auto;
      }
    }
  }
  hr {
    background-color : white;
  }



}

.section-title {
  color : #00cca3;

}

/*_______________________________CAROUSELS_________________________*/
#Carousel{
  #carouselExampleIndicators{
      margin : 20px;
  }

  .carousel-item {
      height : 400px;


      img{
          margin : 0 auto;
          height: 300px;
      }

  }
}


/*________________________________CARDS__________________________*/

.card {
    padding : 4px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom : 30px;


    .card-img-top {
        margin : auto;
    }

    .card-header {
      color : #00cca3;
    }


}
